

 @import '../@theme/styles/themes';
 //@import "~@ng-select/ng-select/themes/default.theme.css";
@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
